.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #0c3a53;
  color: white;
}

.logo {
  font-size: 30px;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #d1d5db;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a:hover {
  color: white;
}

.nav-links .active {
  color: #46e55b;
}
