.category-container {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  place-items: center;
}

.category-title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #1b1b1b;
}

.category-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.category-table thead {
  background-color: #73e546;
  color: white;
}

.category-table th,
.category-table td {
  padding: 12px 16px;
  text-align: left;
  color: #333;
}

.category-table tbody tr:hover {
  background-color: #f3f4f6;
}

.category-color-box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  display: inline-block;
  
}

.actions-container {
  display: flex;
  gap: 12px;
}

.action-btn {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: white;
}

.btn-view {
  background-color: #3b82f6;
}

.btn-view:hover {
  background-color: #2563eb;
}

.btn-edit {
  background-color: #f59e0b;
}

.btn-edit:hover {
  background-color: #d97706;
}

.btn-delete {
  background-color: #ef4444;
}

.btn-delete:hover {
  background-color: #dc2626;
}
