.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding: 40px 20px;
}
.form-card {
  width: 100%;
  max-width: 900px;
  background: white;
  padding: 35px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  color: #000000;
}

.form-card h2 {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  display: flex;
  text-align: center;
  justify-content: center;
}

.category-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 16px;
  margin-bottom: 6px;
  color: #000000;
}

.form-group input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  background-color: #ffffff;
  color: #111827;
  transition: 0.2s;
}

.form-group input:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.15);
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 10px;
}

.btn-submit {
  padding: 9px 18px;
  border-radius: 10px;
  border: none;
  background-color: #4f46e5;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.btn-submit:hover {
  background-color: #4338ca;
}

.btn-cancel {
  padding: 9px 18px;
  border-radius: 10px;
  border: none;
  background-color: #e5e7eb;
  color: #374151;
  cursor: pointer;
}

.color-input-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.color-input {
  width: 60px;
  height: 40px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}
